* {
    color: #333333;
    border-color: #e0e0e0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "header header"
    "sidebar body";
    height: 100vh;
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #6A11CB, #2575FC);
    align-items: center;
    font-size: 50px;
}

.leftside {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(5, auto); 
    gap: 15px; 
    padding: 14px;
    background: linear-gradient(45deg, #6A82FB, #FC5C7D);
}

.mainLibrary {
    grid-area: body;
    background: linear-gradient(45deg, #8EC5FC, #E0C3FC);
    display:grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
    grid-template-rows: 50% 50%;
}

.form-label {
    font-size: 1.2rem;
    color: #333;
}

.form-input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: linear-gradient(45deg, #F0F8FF, #E6E6FA);
}

.submit-button {
    padding: 10px 20px;
    background: linear-gradient(45deg, #FF6A00, #FFB200);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.submit-button:hover {
    background: linear-gradient(45deg, #FFB200, #FF6A00);
}

.book-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    width: 100%; 
    max-width: 500px;
}



.form-input[type="text"], 
.form-input[type="number"], 
.form-input[type="select-one"] {
    height: 40px; 
}

.submit-button {
    padding: 10px;
    height: 40px; 
}

.book-card {
    width: 250px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.book-card .book-title {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.book-card .book-author {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}

.book-card .book-pages {
    font-size: 1rem;
    color: #777;
}

.book-card .book-read {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #2d2d2d;
}

.book-card .read-status {
    font-size: 1rem;
    color: green;
}

.read-status.false {
    color: red;
}

.clear {
    padding: 10px 20px;
    background: linear-gradient(45deg, #FF6F61, #FFB6B9);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.clear:hover {
    background: linear-gradient(45deg, #FFB6B9, #FF6F61);

}

.remove-button {
    background: linear-gradient(45deg, #FF6A00, #FFB200);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s ease;
}

.remove-button:hover {
    background: linear-gradient(45deg, #FFB200, #FF6A00);
}

.remove-button:focus {
    outline: none;
}

.toggle-read-button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.toggle-read-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}